.drop-down-search {
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
    top: 7.5rem;
    left: 0;

    @media #{$lg} {
        display: none;
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &_mob {
        padding-top: 2rem;
        top: 5.5rem;
    }

    &-open {
        cursor: pointer;
    }

    &__content {
        position: relative;
        display: flex;
        background-color: rgba(#fff, 0.9);
        backdrop-filter: blur(15px);
        box-sizing: border-box;
        box-shadow: 0 0.4rem 6rem rgba(#083542, 0.15);
        padding: 4rem 9.4rem 13.5rem 5rem;
        border-radius: 2.5rem;
    }

    &__close {
        position: absolute;
        width: 1.8rem;
        height: 1.8rem;
        background: url(../images/svg/burger-close.svg) no-repeat center / contain;
        padding: 0;
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
        top: 2.5rem;
        right: 2.8rem;

        &:hover {
            rotate: 180deg;
        }
    }

    &__left {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        gap: 7rem;
        max-width: 28rem;
        width: 100%;
        height: auto;
        padding-right: 5.5rem;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: calc(100% + 11rem);
            background-color: #DAE3EA;
            right: 0;
            top: -1rem;
        }
    }

    &__often {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        h3 {
            font-family: $font-second;
            font-weight: 400;
            font-size: 2.5rem;
            color: $color-primary;
            margin-bottom: 2.5rem;
        }

        a {
            font-family: $font-main;
            font-size: 1.6rem;
            line-height: 3rem;
            color: $color-primary;
            padding-left: 1.6rem;

            &:hover {
                color: $color-active;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding-left: 4rem;
    }

    .search {
        max-width: none;
        padding: 0;
        margin-bottom: 2rem;

        &::before {
            left: 1.6rem;
        }

        input {
            padding: 0 12.5rem 0 4.8rem;
        }
    }

    &__block {
        margin-bottom: 2.8rem;
        
        &:last-of-type {
            margin-bottom: 0;
        }

        &>h3 {
            font-family: $font-second;
            font-weight: 400;
            font-size: 2.5rem;
            color: $color-primary;
            margin-bottom: 2rem;
        }

        .product-cards {
            flex-direction: row;
            gap: 2.5rem;

            &__item {
                width: calc(20% - 2rem);
            }
        }

        .cards {
            flex-direction: row;
            gap: 2rem;
            margin-bottom: 0;

            &__item {
                width: calc(17% - 1.7rem);
            }
        }
    }
}