.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1;

    @media #{$lg} {
        gap: 1.7rem;
        background: url(../images/footer/footer-bg-mob.jpg) repeat top center;
        padding-top: 1.6rem;
    }

    &::before {
        content: none;

        @media #{$lg} {
            content: '';
            position: absolute;
            width: 100%;
            height: 23.5rem;
            background: linear-gradient(0deg, #fff, transparent);
            pointer-events: none;
            left: 0;
            bottom: 0;
        }
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        background-color: rgba(#fff, 0.8);
        box-shadow: 0 0.4rem 3rem 0 rgba(#000, 0.1);
        border-radius: 2.5rem;

        @media #{$lg} {
            width: calc(100% - 3rem);
            background-color: rgba(#fff, 0.7);
            box-shadow: 0 0.4rem 2.5rem 0 rgba(#000, 0.15);
            border-radius: 1rem;
            margin: 0 auto;
        }
    }

    &__left {
        display: flex;
        gap: 6rem;
        height: 100%;
        padding: 2.3rem 0 2.3rem 5rem;

        @media #{$lg} {
            padding: 1.6rem 1.5rem 3rem;
        }
    }

    &__logo {
        width: 40rem;
        height: 9rem;

        @media #{$lg} {
            display: none;
        }
    }

    &__nav {
        &__group {
            &:last-of-type {
                @media #{$lg} {
                    display: none;
                }
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        padding: 1.7rem 5.3rem 1.7rem 0;

        @media #{$lg} {
            display: none;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 5.3rem 0 4rem;
        margin-bottom: 2.5rem;
        z-index: 1;

        @media #{$lg} {
            flex-direction: column-reverse;
            align-items: start;
            padding: 0 1.4rem 0 3rem;
            margin-bottom: 1rem;
        }

        &__content {
            position: relative;
            display: flex;
            align-items: center;
            gap: 3rem;

            &::before {
                content: '';
                position: absolute;
                width: 25.5rem;
                height: 25.7rem;
                background: url(../images/footer/footer-decor.png) no-repeat center / contain;
                pointer-events: none;
                transform: translateX(-100%);
                left: -3.4rem;
                bottom: -1.5rem;

                @media #{$lg} {
                    width: 11.9rem;
                    height: 12.2rem;
                    transform: none;
                    left: auto;
                    right: 6rem;
                    bottom: 4rem;
                }
            }

            @media #{$lg} {
                justify-content: space-between;
                width: 100%;
            }
        }
        
        .phone, .socials {
            display: none;

            @media #{$lg} {
                display: flex;
            }
        }

        .phone {
            @media #{$lg} {
                align-items: start;
                margin-bottom: 1.7rem;
            }
        }
    }

    &__copyright {
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.4rem;
        line-height: 1.2rem;
        color: #798E9A;

        @media #{$lg} {
            font-size: 1rem;
        }

        a {
            font-size: 1.4rem;
            line-height: 1.2rem;
            text-decoration: underline;
            color: $color-primary;

            @media #{$lg} {
                font-size: 1rem;
            }

            &:hover {
                color: $color-active
            }
        }
    }

    &__counter {
        display: flex;
        width: 7rem;
        height: 2.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__luxar {
        display: flex;
        width: 10.4rem;
        height: 7.2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}