.menu {
    height: 5rem;

    ul {
        display: flex;
        gap: 1.5rem;
        height: 100%;
        padding-left: 0;
        list-style: none;

        li {
            height: 100%;

            a {
                font-family: $font-second;
                font-weight: 400;
                font-size: 2.2rem;
                text-decoration: none;
                color: $color-primary;
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                box-sizing: border-box;
                transition: all .1s linear;
                padding: 0 3.5rem;

                &:hover {
                    color: #1A6478;
                }
            }
        }
    }
}