.phone {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.4rem;

    a {
        font-family: $font-second;
        font-style: italic;
        font-size: 3.2rem;
        text-decoration: none;
        color: #155466;
        transition: all .1s linear;

        &:hover {
            color: $color-active;
        }
    }

    &>span {
        font-family: $font-main;
        font-weight: 500;
        font-size: 1.3rem;
        color: #A2BAC2;

        @media #{$lg} {
            color: #155466;
        }
    }
}